.round-number {
  display: block;
  font-size: 1em;
  margin-bottom: -5px;
}

.question-number {
  display: block;
  font-weight: 600;
  font-size: 2.4em;
  margin-bottom: 15px;
}

.category {
  display: block;
  font-size: 1em;
}

.question {
  display: block;
  font-weight: 600;
  font-size: 1.6em;
  margin-bottom: 25px;
}
